#{extends 'main.html' /}
#{set title:'About' /}

#{welcomemenu id:"start"/}

<section class="ui center aligned middle aligned segment">
  <div class="ui horizontal segments">

  <div class="ui very padded segment">
    <H2>
    BMI Tracker
    </H2>
    <P>
    Fill in your assessments by week and track your BMI. Trainers will comment on your Progress and encourage you to keep going!
    </P>
  </div>
  <div class="ui segment">
    <img class="ui image" src="/public/images/seticon.jpg">
  </div>
  </div>

</section>
